@font-face {
    font-family: 'Poiret One';
    src: url('../fonts/poiret/poiret-400-normal.woff2') format('woff2'), url('../fonts/poiret/poiret-400-normal.woff') format('woff'), url('../fonts/poiret/poiret-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Agavantgardecyr';
    src: url('../fonts/agavantgardecyr-book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}