@import "./node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "./normalize.scss";
@import "./colors.scss";
@import "./media.scss";
@import "./fonts.scss";
@import "./libs/libs.scss";

* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 24px;
    
    @include breakpoint($max1023) {
        font-size: 14px;
        line-height: 20px;
    }
}

body {
  font-family: "Poiret One", sans-serif;
  color: $white;
  font-weight: normal;
  overflow: hidden;
  background-color: $black;
  word-wrap: break-word;
  font-size: 1rem;
}

.b-page {
  background-image: url(../img/bg.png);
  background-position: 50% 0;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  padding-bottom: 90px;
  transition: ease-out 0.5s;
  transform-origin: center;

  &--ulyot {
    transform: scale(0);
    height: 100vh;
  }

  &--main {
    background-image: none;
  }

  &--srv {
    background-image: url(../img/bg-two.png);
  }

  @media (max-width:1023px) {
    padding-bottom: 70px;
  }
}

.b-container {
  width: 100%;
  max-width: 1480px;
  margin: 60px auto 0;
  padding: 0 40px 60px;
  box-sizing: border-box;
 
  @include breakpoint($max1023) {
    padding: 0 15px 30px;
    margin-top: 30px;
  }
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

.link {
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: $white;
    transition: ease-out 0.2s;
  }

  &:hover {

      &:after {
          right: -3px;
          left: -3px;
      }
  }
}

@import './components/header.scss';
@import './components/footer.scss';
@import './components/burger.scss';
@import './components/lang.scss';
@import './components/logo.scss';
@import './components/billboard.scss';
@import './components/nav.scss';
@import './components/catalog.scss';
@import './components/filter.scss';
@import './components/card.scss';
@import './components/vertical-title.scss';
@import './components/work.scss';
@import './components/illustration.scss';
@import './components/blog.scss';
@import './components/article.scss';
@import './components/form.scss';
@import './components/contacts.scss';
@import './components/about.scss';
@import './components/thanks.scss';
@import './components/notfound.scss';
@import './components/agreement.scss';

#particles-js {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.invert-color {
  filter: invert(100%);
  background-color: $white;
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
}

.lg-toolbar {
  background-color: rgba(0,0,0,0);
}

.lg-actions .lg-prev {
  left: 15vw;

  @media (max-width:1023px) {
    left: 5vw;    
  }
}

.lg-actions .lg-next {
  right: 15vw;

  @media (max-width:1023px) {
    right: 5vw;    
  }
}

.lg-close.lg-icon {
  position: absolute;
  right: 15vw;

  @media (max-width:1023px) {
    right: 5vw;    
  }
}

.lg-download {
  display: none;
}

/////

.ulyot-border {
  position: fixed;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 3px solid $white;
  transition: ease-out;

  &:nth-child(0) {
    border-color: rgb(255, 0, 0);
  }
  &:nth-child(1) {
    border-color: rgb(255, 130, 0);
  }
  &:nth-child(2) {
    border-color: rgb(255, 255, 0);
  }
  &:nth-child(3) {
    border-color: rgb(130, 255, 0);
  }
  &:nth-child(4) {
    border-color: rgb(0, 255, 130);
  }
  &:nth-child(5) {
    border-color: rgb(0, 255, 255);
  }
  &:nth-child(6) {
    border-color: rgb(0, 130, 255);
  }
  &:nth-child(7) {
    border-color: rgb(0, 0, 255);
  }
  &:nth-child(8) {
    border-color: rgb(130, 0, 255);
  }
  &:nth-child(9) {
    border-color: rgb(255, 0, 255);
  }

  &--tr {
    transform: scale(0);
  }
}