.billboard
    #particles-js
    .billboard__container.b-container
        .billboard__title DIANA
            .billboard__subtitles
                .billboard__vertical.billboard__vertical--d
                    div e
                    div s
                    div i
                    div g
                    div n
                .billboard__vertical.billboard__vertical--i
                    div l
                    div l
                    div u
                    div s
                    div t
                    div r
                    div a
                    div t
                    div i
                    div o
                    div n