footer.footer
    .footer__container.b-container
        .footer__socials
            a(href="#").footer__social.footer__social--insta
                +svg('insta')
            a(href="#").footer__social.footer__social--vk
                +svg('vk')
            a(href="#").footer__social.footer__social--be
                +svg('be')
            a(href="#").footer__social.footer__social--p
                +svg('p')
            a(href="#").footer__social.footer__social--ball
                +svg('ball')