.contacts {
    margin-top: 100px;
    position: relative;

    &__container {
        display: flex;
        justify-content: flex-start;
        max-width: 1260px;
    }

    &__left,
    &__right {
        width: 50%;
    }

    &__right {
        margin-top: 140px;
    }

    &__item {
        display: flex;

        & + .contacts__item {
            margin-top: 85px;
        }
    }

    &__name {
        font-family: 'Agavantgardecyr', sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        letter-spacing: 0.12rem;
        text-transform: uppercase;
        margin-right: 53px;
    }

    &__value {
        font-family: 'Poiret One', sans-serif;
        font-size: 1.375rem;
        line-height: 1.625rem;
        letter-spacing: 0.53rem;

        & + .contacts__value {
            margin-left: 70px;
        }

        &--social {
            letter-spacing: 0.15rem;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                left: 0;
                bottom: -2px;
                background-color: #fff;
            }
        }
    }
}