.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 38px 0;
    transition: ease-in-out 0.2s;

    &--fixed {
        border-bottom: 1px solid $white;
        background-color: $black;
        padding: 10px 38px;
    }
}