.logo {
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 2.1875rem;
    letter-spacing: 0.53rem;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
}