.notfound {
    margin-top: 114px;
    position: relative;

    &__container {
        min-height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        padding-right: 100px;
        font-size: 6.25rem;
        line-height: 7.3125rem;
        text-align: center;
        letter-spacing: 0.53rem;
        text-transform: uppercase;
        color: #E0E0E0;
        display: flex;

        & div {
            margin-right: 35px;
        }
    }

    &__middle {
        margin-top: 100px;
    }

    &__right {
        margin-top: 80px;
    }
}