.vertical-title {
    position: absolute;
    top: -30px;
    left: 50px;
    transform: rotate(-90deg) translateY(100%) translateX(-100%);
    transform-origin: left bottom;
    font-size: 1.625rem;
    line-height: 1.875rem;
    letter-spacing: 0.53rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    & div {
        height: 1px;
        background-color: $white;

        &:first-child {
            width: 59px;
            margin-right: 10px;

            @media (max-width:1260px) {
                width: 74px;
                margin-right: 19px;
            }
        }

        &:nth-child(2) {
            width: 19px;
            margin-right: 8px;

            @media (max-width:1260px) {
                position: absolute;
                width: 4px;
                left: 0;
                top: 4px;
                transform: rotate(-45deg);
            }
        }

        &:nth-child(3) {
            width: 33px;
            margin-right: 11px;

            @media (max-width:1260px) {
                position: absolute;
                width: 4px;
                left: 0;
                top: 8px;
                transform: rotate(45deg);
            }
        }

        &:nth-child(4) {
            width: 5px;
            margin-right: 20px;

            @media (max-width:1260px) {
                display: none;
            }
        }
    }

    @media (max-width:1260px) {
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: #6B6B6B;
        left: 10px;
        top: 0;
    }

    &--article {

        @media (max-width:1023px) {
            left: auto;
            right: 30px;
            top: -110px;
            transform-origin: right top;
        }
    }
}