extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.b-page.b-page--srv
		.notfound
			.vertical-title
					div
					div
					div
					div
					span not found
			.notfound__container.b-container
				.notfound__title
					.notfound__left 4
					.notfound__middle 0
					.notfound__right 4

block script