extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content

	.about
		.vertical-title
				div
				div
				div
				div
				span about me
		.about__container.b-container
			.about__left
				.about__photo-big
					img(src="img/about-big.jpg", alt="")
				.about__photo-mini
					img(src="img/about-mini.jpg", alt="")
			.about__right
				.about__title Обо мне
				.about__text
					p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
					p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только.
					p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только.

block script