extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.b-page.b-page--srv
		.agreement
			.vertical-title
					div
					div
					div
					div
					span agreement
			.agreement__container.b-container
				.agreement__title.title-1 Соглашение на обработку персональных данных
				.agreement__content
					h2 Кастомные иллюстрации
					p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
					p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали. 

block script