extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content

	.article
		.vertical-title
				div
				div
				div
				div
				span blog
		.article__container.b-container
			.article__date 4.08.2019
			.article__title Топ-5 трендов графического дизайна 2019 года
			.article__description
				p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
				p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только.
			.article__content
				div
					div
						h2 Кастомные иллюстрации
						p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
						p Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
					div
						div
							img(src="img/article-content.jpg", alt="")
						div
							img(src="img/article-content.jpg", alt="")
				div
					div
						h2 Кастомные иллюстрации
						p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
						p Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
					div
						div
							img(src="img/article-content.jpg", alt="")
						div
							img(src="img/article-content.jpg", alt="")
				div
					div
						h2 Кастомные иллюстрации
						p Явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
						p Есть над чем задуматься: представители современных социальных резервов являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
					div
						div
							img(src="img/article-content.jpg", alt="")
						div
							img(src="img/article-content.jpg", alt="")

block script