extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content

	.catalog
		.vertical-title
			div
			div
			div
			div
			span design
		.catalog__container.b-container
			.filter
				.filter__item.filter__item--active web design
				.filter__item banner
				.filter__item product design
				.filter__item logotype
			.filter-acc
				.filter-acc__title web design
					.filter-acc__arrow
						+svg('triang')
				.filter-acc__menu
					.filter-acc__items
						.filter-acc__item banner
						.filter-acc__item product design
						.filter-acc__item logotype
			.catalog__items
				a(href="work.html").card.card--action.ulyot
					.card__title travel agency
					img(src="img/work1.png" alt="").card__image
				a(href="work.html").card.card--action.ulyot
					.card__title travel agency
					img(src="img/work1.png" alt="").card__image
				a(href="work.html").card.card--action.ulyot
					.card__title travel agency
					img(src="img/work1.png" alt="").card__image
				a(href="work.html").card.card--action.ulyot
					.card__title travel agency
					img(src="img/work1.png" alt="").card__image
				a(href="work.html").card.card--action.ulyot
					.card__title travel agency
					img(src="img/work1.png" alt="").card__image
				a(href="work.html").card.card--action.ulyot
					.card__title travel agency
					img(src="img/work1.png" alt="").card__image
			button.catalog__more more

block script