extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content

	.illustration
		.vertical-title
				div
				div
				div
				div
				span illustration
		.illustration__container.b-container
			.filter
				.filter__item.filter__item--active all
				.filter__item Celebrities
				.filter__item my character
				.filter__item abstraction
				.filter__item portraits
			.filter-acc
				.filter-acc__title web design
					.filter-acc__arrow
						+svg('triang')
				.filter-acc__menu
					.filter-acc__items
						.filter-acc__item banner
						.filter-acc__item product design
						.filter-acc__item logotype
			.illustration__section
				.illustration__year 2019
				.illustration__items
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")
					.illustration__item
						img(src="img/illustration.jpg", alt="")

block script