extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content

	include ../modules/billboard
	.toggle-lang.toggle-lang--mobile
		a(href="#").toggle-lang__item.toggle-lang__item--ru.toggle-lang__item--active RU
		a(href="#").toggle-lang__item.toggle-lang__item--en EN

block script