extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.b-page.b-page--srv
		.thanks
			.vertical-title
					div
					div
					div
					div
					span consent
			.thanks__container.b-container
				.thanks__titles
					.thanks__title.thanks__title--en soon I'll be sure to answer
					.thanks__title.thanks__title--ru спасибо. я вам обязательно отвечу


block script